<section class="hero is-primary is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Contact Us</h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <p>
      Contact us on
      <a href="https://instagram.com/sigmachitoronto">Instagram</a> or
      <a href="https://facebook.com/sigmachitoronto">Facebook</a>.
    </p>
  </div>
</section>

<!-- <section class="section">
  <div id="container">
    <form (ngSubmit)="processForm()">

      <div class="field">
        <input type="text" name="name" class="input" placeholder="Your Name">
      </div>


      <div class="field">
        <input type="email" name="email" class="input" placeholder="Your Email">
      </div>


      <div class="field">
        <textarea class="textarea" name="message" placeholder="Send us a message here!"></textarea>
      </div>

      <button type="submit" class="button is-warning is-large">Submit</button>
    </form>
  </div>
</section> -->
