<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<footer class="footer">
  <div class="content has-text-centered">
    <span>&copy; Sigma Chi Toronto 2020. Made by <strong><a href="http://erickim.ca">Eric Kim</a></strong>.</span>
  </div>
  <div class="content has-text-centered">
    <a href="http://facebook.com/sigmachitoronto" class="fa fa-facebook"></a>
    <a href="https://www.youtube.com/channel/UCDrrlgC15cy1extcG7xkE9Q" class="fa fa-youtube"></a>
    <a href="http://instagram.com/sigmachitoronto" class="fa fa-instagram"></a>
  </div>
</footer>
