<section class="hero is-fullheight-with-navbar">
  <div class="hero-body" id="intro">
    <div class="container call-to-action">
      <h1 class="title has-text-white is-size-1">
        Sigma Chi Toronto
      </h1>
      <h2 class="subtitle has-text-white is-size-3">
        We are a tight-knit brotherhood of men from the University of Toronto and Ryerson University
        driven by our values of friendship, justice, and learning.
      </h2>
      <h2 class="subtitle has-text-white is-size-3">
        Interested in our organization?
      </h2>
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSfQaTV2uMbP0KoWz8jvj6o4rWgqF_H1Whjnb7oDK_OUAjHz6w/viewform">
        <button class="button is-warning is-large">Fill out an interest form</button>
      </a>
    </div>
  </div>
</section>
