<section class="hero is-fullheight darken">
  <div class="hero-body has-text-centered">
    <div class="container">
      <h1 class="title has-text-white is-size-1">
        Derby Days
      </h1>
      <h2 class="subtitle has-text-white is-size-3">
        Sigma Chi Toronto's Annual Philanthropy Event
      </h2>
    </div>
  </div>
</section>

<section class="hero is-large is-info">
  <div class="hero-body">
    <div class="container">
      <h2 class="is-size-1 has-text-warning">
        What is Derby Days?
      </h2>
      <p class="is-size-3">
        Derby Days is a week-long charity event held by Sigma Chi Toronto. We
        organize and host a series of events and competitions among the local
        sororities. Through Derby Days, we raise thousands of dollars each year
        for the Huntsman Cancer Institute.
      </p>
      <br>
      <figure id="huntsman" class="image">
        <img src="./assets/img/huntsman-logo.png" alt="The Huntsman Cancer Foundation Logo">
      </figure>
      <br>
      <br>
      <section class="has-text-centered">
        <a href="https://auxiliary.apps.utah.edu/ugive/designation/175?specialInstructions=Toronto-Ryerson%20%20%20">
          <button class="button is-warning is-large">Donate Now</button>
        </a>
      </section>
    </div>
  </div>
</section>

<section class="hero is-fullheight is-light has-text-centered">
  <div class="hero-body">
    <div class="container">
      <div class="tile is-ancestor">
        <div class="tile is-parent is-vertical">
          <div class="tile is-child">
            <figure class="image">
              <img src="./assets/img/derby1.jpg" alt="Gamma Phi Beta">
            </figure>
          </div>
          <div class="tile is-child">
            <figure class="image">
              <img src="./assets/img/derby3.jpg" alt="Pi Beta Phi">
            </figure>
          </div>
        </div>

        <div class="tile is-parent is-vertical">
          <div class="tile is-child">
            <figure class="image">
              <img src="./assets/img/derby4.jpg" alt="Alpha Omicron Pi">
            </figure>
          </div>
          <div class="tile is-child">
            <figure class="image">
              <img src="./assets/img/derby6.jpg" alt="Gamma Phi Beta">
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hero is-fullheight is-warning">
  <div class="hero-body">
    <div class="container">
      <p class="is-size-2">
        During the 2019-2020 school year, we've raised $11,000 of our $20,000 goal.
      </p>
      <br>
      <progress class="progress is-info is-large" value="55" max="100">75%</progress>
    </div>
  </div>
</section>

<section class="hero is-fullheight is-light has-text-centered">
  <div class="hero-body">
    <div class="container">
      <p class="is-size-1">
        Help us win the battle against cancer by donating below!
      </p>
      <br>
      <a id="button" href="https://auxiliary.apps.utah.edu/ugive/designation/175?specialInstructions=Toronto-Ryerson%20%20%20">
        <button class="button is-warning is-large">Donate Now</button>
      </a>
    </div>
  </div>
</section>
