<section class="hero is-primary is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">History</h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <p>
      Located at 350 Huron Street in beautiful Toronto, ON., we are the Beta Omega
      Chapter of the Sigma Chi Fraternity. Chartered at the University of Toronto
      and Ryerson University in 1922, our chapter was the first Canadian chapter of
      Sigma Chi.
    </p>
    <br>
    <p>
      We've got awesome alumni who were and still are exceptional men. Take for example
      <a href="https://en.wikipedia.org/wiki/Edward_S._Rogers_Jr.#Early_life_and_career">Ted Rogers</a>,
      President and CEO of the Rogers Communications Inc., who was an alumni of this very chapter!
    </p>
    <br>
    <p>
      Sigma Chi is not just a Fraternity, it is a place for men to be exemplary. It fosters
      brotherhood and builds lifetime friendships as well as giving you the tools to excel in
      day to day life.
    </p>
    <br>
    <p>
      See what <a href="https://en.wikipedia.org/wiki/Sigma_Chi">Wikipedia</a> is saying about us.
    </p>
    <br>
    <p>
      Check out our <a href="https://sigmachi.org">international prescence</a>.
    </p>
    <br>
  </div>
</section>
